<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
</head>

<body>

<div>
    <h2 th:insert="~{logout :: logout}">Logout</h2>
    <h1>User List</h1>

    <a th:href="@{/admin/showNewUserForm}"> Add User </a>

    <table th:border="1">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listUsers}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td> <a th:href="@{/admin/showFormForUpdate/{id}(id=${user.id})}">Update</a>
                <a th:href="@{/admin/deleteUser/{id}(id=${user.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>