<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 bg-dark text-white">
                    <h3>
                        email+roles
                    </h3>
                </div>
                <div class="col-md-6 bg-dark text-secondary">
                    <h5 class="text-right">
                        Logout
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab">
                        <h3>
                            Admin panel
                        </h3>
                        <div class="tabbable" id="tabs-196650">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#tab1" data-toggle="tab">User table</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab2" data-toggle="tab">New user</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div class="card">
                                        <h3 class="card-header">All users</h3>
                                        <div class="card-body">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">First Name</th>
                                                    <th scope="col">Last Name</th>
                                                    <th scope="col">Age</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="user : ${listUsers}">
                                                    <td th:text="${user.id}"></td>
                                                    <td th:text="${user.firstName}"></td>
                                                    <td th:text="${user.lastName}"></td>
                                                    <td th:text="${user.age}"></td>
                                                    <td th:text="${user.email}"></td>
                                                    <td>
                                                        <p th:each="role : ${user.roles}" th:text="${role.name}">

                                                        </p>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{/admin/showFormForUpdate/{id}(id=${user.id})}"
                                                           class="btn btn-info active" role="button"
                                                           aria-pressed="true">Edit</a>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{/admin/deleteUser/{id}(id=${user.id})}"
                                                           class="btn btn-danger active" role="button"
                                                           aria-pressed="true">Delete</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div class="card">
                                        <h3 class="card-header">Add new user</h3>
                                        <div class="card-body myClass">
                                            <form th:action="@{/admin/saveUser}" th:object="${newUser}" method="POST">
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="formGroupExampleInput">First name</label>
                                                    <input th:field="*{firstName}" type="text" class="form-control" id="formGroupExampleInput"
                                                           placeholder="First name">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="formGroupExampleInput2">Last name</label>
                                                    <input  th:field="*{lastName}" type="text" class="form-control" id="formGroupExampleInput2"
                                                           placeholder="Another input">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="formGroupExampleInput3">Age</label>
                                                    <input th:field="*{age}" type="text" class="form-control" id="formGroupExampleInput3"
                                                           placeholder="Another input">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="formGroupExampleInput4">Email</label>
                                                    <input th:field="*{email}" type="text" class="form-control" id="formGroupExampleInput4"
                                                           placeholder="Another input">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="formGroupExampleInput5">Password</label>
                                                    <input th:field="*{password}" type="password" class="form-control" id="formGroupExampleInput5"
                                                           placeholder="Another input">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="exampleFormControlSelect2">Role</label>
                                                    <select th:field="*{roles}" multiple class="form-control" style="height: 60px" id="exampleFormControlSelect2" >
                                                        <option th:each="role : ${listRoles}" th:value="${role.id}" th:text="${role.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-success">Add new user</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h3>
                        User information-page
                    </h3>
                    <div class="card">
                        <h3 class="card-header">About user</h3>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:object="${admin}" th:each="role : ${admin.roles}">
                                    <td th:text="${admin.id}"></td>
                                    <td th:text="${admin.firstName}"></td>
                                    <td th:text="${admin.lastName}"></td>
                                    <td th:text="${admin.age}"></td>
                                    <td th:text="${admin.email}"></td>
                                    <td th:text="${role.name}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
