<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<style>
    .myClass {
        margin: 0 auto;
        width: 50%;
        text-align: center;
    }
</style>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 bg-dark text-white">
                    <h3></h3>
                </div>
                <div class="col-md-6 bg-dark text-right">
                    <p><a th:href="@{/logout}" style="color: gray">Logout</a></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a sec:authorize="hasRole('ADMIN')" class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="false">Admin</a>
                <a sec:authorize="hasAnyRole('ADMIN', 'USER')" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div sec:authorize="hasRole('ADMIN')" class="tab-pane fade" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab">
                        <h3>
                            Admin panel
                        </h3>
                        <div class="tabbable" id="tabs-196650">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a id="userTable" class="nav-link active" href="#tab1" data-toggle="tab">User table</a>
                                </li>
                                <li class="nav-item">
                                    <a id="newUserTab" class="nav-link" href="#tab2" data-toggle="tab">New user</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div class="card">
                                        <h3 class="card-header">All users</h3>
                                        <div class="card-body ">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">First Name</th>
                                                    <th scope="col">Last Name</th>
                                                    <th scope="col">Age</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tableBody">

                                                </tbody>
                                            </table>
                                            <div id="editModal" class="modal fade" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                                Edit user
                                                            </h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form id="editForm">
                                                            <div class="modal-body myClass">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="editId">ID</label>
                                                                    <input type="text" class="form-control"
                                                                           id="editId"
                                                                           name="id"
                                                                           readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="editFirstName">First name</label>
                                                                    <input type="text" class="form-control"
                                                                           id="editFirstName"
                                                                           name="firstName">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="editLastName">Last name</label>
                                                                    <input type="text" class="form-control"
                                                                           id="editLastName"
                                                                           name="lastName">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="editAge">Age</label>
                                                                    <input type="number"
                                                                           class="form-control"
                                                                           id="editAge"
                                                                           name="age">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="editEmail">Email</label>
                                                                    <input type="text" class="form-control"
                                                                           id="editEmail"
                                                                           name="email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="editPassword">Password</label>
                                                                    <input type="password"
                                                                           class="form-control"
                                                                           id="editPassword"
                                                                           name="password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="editRoles">Role</label>
                                                                    <select name="roles"
                                                                            id="editRoles"
                                                                            multiple class="form-control"
                                                                            style="height: 60px">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                        class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">Edit</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel1">Delete user</h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form id="deleteForm">
                                                            <div class="modal-body myClass">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="deleteId">ID</label>
                                                                    <input type="text" class="form-control"
                                                                           id="deleteId"
                                                                           readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="deleteFirstName">First
                                                                        name</label>
                                                                    <input type="text" class="form-control"
                                                                           id="deleteFirstName"
                                                                           readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="deleteLastName">Last
                                                                        name</label>
                                                                    <input type="text" class="form-control"
                                                                           id="deleteLastName"
                                                                           readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="deleteAge">Age</label>
                                                                    <input type="text" class="form-control"
                                                                           id="deleteAge"
                                                                           readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="deleteEmail">Email</label>
                                                                    <input type="text" class="form-control"
                                                                           id="deleteEmail"
                                                                           readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="deleteRoles">Role</label>
                                                                    <select id="deleteRoles"
                                                                            multiple class="form-control"
                                                                            style="height: 60px"
                                                                            readonly>
                                                                    </select>
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button id="btnConfirmDelete" type="submit" class="btn btn-danger">Delete</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div class="card">
                                        <h3 class="card-header">Add new user</h3>
                                        <div class="card-body myClass">
                                            <form id="newUserForm">
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="newFirstName">First name</label>
                                                    <input type="text" class="form-control" id="newFirstName" placeholder="First name">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="newLastName">Last name</label>
                                                    <input type="text" class="form-control" id="newLastName" placeholder="Last name">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="newAge">Age</label>
                                                    <input type="number" class="form-control" id="newAge" placeholder="Age">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="newEmail">Email</label>
                                                    <input type="text" class="form-control" id="newEmail" placeholder="Email">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="newPassword">Password</label>
                                                    <input type="password" class="form-control" id="newPassword" placeholder="Password">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="newRole">Role</label>
                                                    <select multiple class="form-control" style="height: 60px" id="newRole"></select>
                                                </div>
                                                <button type="submit" class="btn btn-success">Add new user</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div sec:authorize="hasAnyRole('ADMIN', 'USER')" class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h3>
                        User information-page
                    </h3>
                    <div class="card">
                        <h3 class="card-header">About user</h3>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <p></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/static/main.js"></script>
</body>
</html>
