<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
</head>

<body>
<div>
    <h2 th:insert="~{logout :: logout}">Logout</h2>
    <h2>Update User</h2>

    <form action="#" th:action="@{/admin/saveUser}" th:object="${user}" method="POST">

        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{firstName}">

        <input type="text" th:field="*{lastName}">

        <input type="text" th:field="*{email}">

        <button type="submit"> Update User</button>
    </form>

    <hr>

    <a th:href="@{/admin}"> Back to User List</a>
</div>
</body>

</html>